/*структура*/
* {
    box-sizing: border-box ;
}
html  {
    height: 100% ;
}
body {
    height: 100% ;
    margin:0;
    padding:0;
    font-family: "PTFont",Arial, Tahoma, sans-serif;
    font-size: 14px;
}
@font-face {
    font-family: 'PTFont';
    src: url(fonts/pt.otf);
}
div.wrapper {
    position: relative;
    height: 100%;
    width: 1020px;
    margin: 0 auto;
    background: #f5f5f5;
    box-shadow: 0 0 30px -10px black;
}
div.wrapper header,footer  {
    text-shadow:0 0 20px #f26221;
    padding: 10px 0;
    background-color: #f5f5f5;
}
header {
    background: radial-gradient(ellipse closest-corner at 35px 30px, #f26221, #333333);
    position:fixed;
    color: white;
    width: 1020px;
    padding: 10px;
    overflow: hidden;
    z-index: 999;
}
.logo {
    position: absolute;
    float:left;
}
.search {
    float: right;
    overflow:hidden;
    position: relative;
}
.search form  {
    float: left;
}

#search-block-form{
    width:248px;
    height:28px;
    border-radius:15px;
    border:#c9c9c9 solid 1px;
    background:url(images/searchBg.png) left top repeat-x;
}
.focus-active{
    border-color:#aaa !important;
    background:#fff !important;
}
#search-block-form input{
    padding:0;
    margin:0;
    display:block;
    border:none;
    outline:none;
    background:none;
    width:100%;
    height:100%;
}
#search-block-form .form-actions{
    width:28px;
    height:28px;
    float:left;
    background:url(images/searchIcon.png) 5px 2px no-repeat;
}
#search-block-form .form-actions input{
    overflow:hidden;
    text-indent:-9999px;
}
#search-block-form .form-item{
    width:210px;
    padding:0px 5px;
    float:right;
    height:28px;
}


.menuLink  {
    float: left;
    margin-left: 10px;
}
.menuLink .menuLink__img  {
    width: 32px;
    height: 32px;
}
main {
    border-radius: 5px;
    width: 1020px;
    height: 100%;
    margin: 0 auto;
    padding-top: 56px;
    padding-bottom: 40px;
    overflow: hidden;}
footer  {
    position:absolute;
    clear: both;
    background-color: #333333;
    color: #ffffff;
    margin-top:20px;
    bottom:0;
    text-align: center;
    width: 1020px;
    left: 0;
}


/*логин,регистрация 1*/
div.Login_block {
    background-color: #f5f5f5;
    border: 2px solid #cccccc;
    border-radius: 5px;
    margin: 100px auto;
    width: 400px;
    box-shadow: 1px 1px 3px #03052d;
    text-align: center;
    padding: 10px;
}
div.Login_block h3{
    text-align: left;
}
div.Login_block form{
    width: 170px;
    text-align: center;
    margin: auto;
}
div.Login_block a {
    text-decoration: none;
}
div.Login_block a:active {
    color: #cfd4fc;
}
div.Login_block label {
    display: block;
    margin-top: 10px;
    border-radius: 5px;
}
.Login_btn {
    background: #eceefe;
    border: 1px solid #03052d;
    padding: 5px;

    border-radius: 5px;
    text-align: center;
    width:100%;
}
div.Login_block_Registr {
    text-align: right;
    margin:5px;
}

/*2*/
div.Categories_Gallery{
    margin-left:5%;
    margin-right:5%;
    font-size: 10px;
    padding: 20px 0px;
    background-color: #f5f5f5;
}
div.Categories_Gallery .item{
    display: inline-block;
    width:200px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:40px;
    text-align:center;
    font-size:20px;
}
div.Categories_Gallery .frame{
    border: 1px solid black;
    height: 200px;
}
div.Categories_Gallery .image{
    background-color: white;
    background-repeat:no-repeat;
    border: 2px solid #cccccc;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #777;
    transition: transform 1s;
}
div.Categories_Gallery .image:hover{transform:scale(1.2);}

.Categories_Images{
    max-height: 200px;
}
div.Categories_Gallery .title a{
    text-decoration: none;
}


/*itemcard 3*/

.Items img{
    box-shadow: 1px 1px 5px #777;
    transition: transform 1s;
}
.Items img:hover{transform:scale(1.2);}
.Items{
    width:40%;
    min-height: 500px;
    float:left;
    padding:10px;
    background-color: #f5f5f5;
    margin-left: 3%;
}
.Categories_Navigation{
    color: #f26221;
    font-size: 20px;
    margin-bottom: 25px;
    overflow: hidden;
}
.Top_Navigation li{
    font-size: 15px;
    float: left;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #e3e3e3;
    list-style-type: none;
}
.Top_Navigation li a{
    color: #f26221;
    text-decoration: none;
}
.Top_Navigation li a:hover{
    color:#faa732;
}

.Gitar_Picture{
    text-align: center;
}
.Gitar_Picture a{
    position: relative;
}
.imageLine{
    display:flex;
    width: 100%;
    text-align: center;
}
.imageLine ul{
    padding:0px;
    width: 100%;
}
.imageLine li{
    display: inline;
    margin-right:10px;
    border-right: 1px solid #e3e3e3;
    list-style-type: none;
}
.imageLine li:last-child{
    margin:0;
}
.imageLine .Line_Images{
    max-height: 150px;
}

.Description{
    float:right;
    margin-right: 3%;
    width:45%;
    padding:10px;
}
.Description p{
    margin-bottom:5px;
    color: #616161;
    font-size: 15px;
    line-height: 18px;
}
.Info_Price{
    font-size: 40px;
    color:#f26221;
    text-align: right;
}
.In_Cart img{
    position: relative;
    top: 16px;
    right: 9px;
    display: none;
}
.In_Cart_Btn{
    float:right;
    background: #eceefe;
    border: 1px solid #03052d;
    padding: 5px;
    border-radius: 5px;
    margin-right:10px;
}
select{
    width: 80px;
}
.Social_Icons{
    text-align: left;
    margin-left: -40px;
    margin-top: 10px;
}
.Icons_Line{
    display:flex;
    width: 100%;
}
.Icons_Line li{
    display: inline;
    margin-top:10px;
    border-right: 1px solid #e3e3e3;
    list-style-type: none;
}

/*корзина 4*/
.Basket_summary{
    float:right;
    padding:10px;
    margin-right: 40px;
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
}
div.Basket_summary h3{
    color:#f26221;
}

.Cart_List{
    display:block;
    overflow: hidden;
    width: 70%;
    padding:10px;
    margin-left: 20px;
    margin-top: 20px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 1px 1px 5px #777;
}
.Cart_List:nth-child(even){
    background-color: #f5f5dc;;
}
.Cart_List:nth-child(odd){
    background-color: white;
}
div.List_Items_Gitar1{
    float: left;
    width: 50%;
}
div.List_Items_Gitar1 a{
    color: #f26221;
    text-decoration: none;
}
div.List_Items_Gitar1 a:hover{
    color:#faa732;
}

div.List_Items_Gitar2{
    float: right;
    width: 40%;
}
div.List_Items_Gitar2 a{
    color: #f26221;
    text-decoration: none;
}
div.List_Items_Gitar2 a:hover{
    color:#faa732;
}

.Gitar_image{
    float:left;
    width: 60%;
    box-shadow: 1px 1px 5px #777;
}
.Gitar_name{
    float:right;
    width:30%;
}
.Quantity{
    float:left;
    width:50%;
}
.Cart_Price{
    float:right;
    width:35%;
    text-align: center;
    margin-top: -16px;
}

div.Total{
    width: 72%;
    text-align: right;
}
.Total_btn {
    margin-left: 350px;
    text-align: center;
    overflow: hidden;
}
div.Checkout-btn{
    float:left;
}
div.Continue-btn{
    float:right;
}

/* konstantin */
.sideMenu {
    position: relative;
    float: left;
    width: 250px;
    height: 100%;
    border-right: 1px solid black;
}
.sideMenu .sideMenu__list {
    padding: 0;
    list-style: none;
}
.sideMenu .sideMenu__item {
    padding: 7px 18px;
    overflow: hidden;
}
.sideMenu .sideMenu__item--current {
    background: rgb(200,200,200);
}
.sideMenu .sideMenu__img {
    float: left;
    width: 32px;
    height: 32px;
}
.sideMenu .sideMenu__link {
    display: inline-block;
    height: 32px;
    margin-left: 10px;
    line-height: 32px;
}
.productsList {
    float: left;
    width: 767px;
    padding: 14px;
}
.productsList .productsList__switchView {   
    display: block;
    text-align: right;
}
.productsList .productsList__list {
    margin-top: 14px;
    overflow: hidden;
}
.productsList__list .productsList__item {
    margin-bottom: 10px;
    padding: 14px;
    background: white;
    overflow: hidden;
}


/*Patrakova K.V.*/

.productsList__item img{
    transition: transform 1s;
}
.productsList__item img:hover{
    transform:scale(1.2);
}
/*Patrakova K.V.*/


.productsList__list--gridView .productsList__item {
    float: left;
    width: 23.5%;
    margin-right: 1.5%;
}
.productsList__list--listView .productsList__item {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.productsList .productsList__imgWrapper {
    width: 100%;
    text-align: center;
}
.productsList__list--gridView .productsList__imgWrapper {
    height: 180px;
}
.productsList__list--listView .productsList__imgWrapper {
    width: 35%;
    height: 120px;
    float: left;
    transform: rotate(90deg);
}
.productsList .productsList__img {
    max-height: 160px;
}
.productsList .productsList__link {
    font-size: 120%;
}
.productsList__list--gridView .productsList__link {
    display: block;
}
.productsList__list--listView .productsList__link {}
.productsList .productsList__price {}
.productsList__list--gridView .productsList__description {
    display: none;
}
.productsList__list--listView .productsList__description {
    display: block;
}
.productsList__list--gridView .productsList__addToCart {
    display: none;
}
.productsList__list--listView .productsList__addToCart {
    display: inline-block;
    padding: 10px;
    background: rgb(220,220,255);
    border-radius: 10px;
}
.orderForm {
    position: relative;
    width: 600px;
    height: 334px;
    margin: 50px auto;
    background-image: url(images/creditcardbg.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.orderForm__input {
    position: absolute;
    height: 28px;
    padding: 0 5px;
    line-height: 28px;
}
.orderForm__input--holder {
    width: 290px;
    top: 133px;
    left: 66px;
    word-spacing: 14px;
}
.orderForm__input--number {
    width: 290px;
    top: 180px;
    left: 66px;
    word-spacing: 14px;
}
.orderForm__input--validMonth {
    width: 55px;
    top: 216px;
    left: 238px;
}
.orderForm__input--validYear {
    width: 55px;
    top: 216px;
    left: 300px;
}
.orderForm__input--csv {
    width: 43px;
    top: 153px;
    left: 486px;
}
.orderForm__submit {
    position: absolute;
    width: 120px;
    height: 30px;
    bottom: 0;
    left: 50%;
    margin-left: -60px;
}
.addressForm {
    width: 720px;
    margin: 100px auto;
}
.addressForm__section {
    float: left;
    width: 355px;
    margin-bottom: 30px;
}
.addressForm__header {
}
.addressForm__label {
    display: inline-block;
    width: 120px;
}
.addressForm__input {
    display: inline-block;
    width: 200px;
    height: 24px;
    margin-bottom: 10px;
}
.addressForm__checkbox {
    display: inline-block;
    width: 16px;
    height: 28px;
}
.addressForm__caption {
    display: inline-block;
    width: 280px;
}
.addressForm__submit {
    display: block;
    width: 120px;
    padding: 8px;
    margin: 0 auto;
}
.successMessage {
    width: 300px;
    margin: 50px auto;
}