// main: ../style.less

.cartSum{
    flex: 0 0 30%;
    padding:20px;
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
   
    .cartSum__header{}
    
    .cartSum__summary{
        color:#f26221;
    }
    
    .cartSum__checkoutBlock{}
    .cartSum__form{}
    .cartSum__cartButton{
        .button();
    }
    
}