// main: ../style.less

.products {
    flex: 0 1 100%;
    padding: 10px;
    
    .products__changeView {
        text-align: right;
    }
    .products__viewOption {        
        &.products__viewOption--current {
            text-decoration: none;
            pointer-events: none;
        }
    }
    .products__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 14px 10px;
        list-style: none;
        
        &.products__list--grid {
            .products__item {                
                flex: 0 1 18.6%;
                margin-right: 10px;
                margin-bottom: 10px;
            }
            .products__description, .products__addtoCart {
                display: none;
            }
        }
        &.products__list--list {
            .products__item {
                flex: 0 1 70%;
                margin: 0 auto 10px auto;
            }
            .products__figure {
                float: left;
                width: 30%;
            }
            .products__description {
                width: 70%;
                float: left;
            }
            .products__addtoCart {
                display: block;
                float: left;
                margin-left: 30%;
                padding: 10px;
                background: rgb(200,200,200);
            }
        }
    }
    .products__item {
        .block();
        
        padding: 10px;
        background: white;
    }
    .products__figure {
        display: block;
        text-align: center;
    }
    .products__img {
        display: inline-block;
        width: 50px;
    }
    .products__name {
        display: block;
    }
    .products__price {}
    .products__description {}
    .products__addtoCart {}
}