// main: ../style.less
@import "../_mixins.less";
.productDescription{
    flex: 0 0 100%;
    padding:10px;
    .descriptionBlock__text{
        margin-bottom:5px;
        color: #616161;
        font-size: 15px;
        line-height: 18px;
        text-align: justify;
    }
    .descriptionBlock__infoPrice{
        font-size: 20px;
        color:#f26221;
        text-align: right;
    }
    .descriptionBlock__quantity{}
    .quantity{
        margin:10px;
        padding: 10px;
        .quantity__header{
            margin-bottom: 5px;
            color: #616161;
            font-size: 15px;
            line-height: 18px;
        }
        .quantity__selection{
            float:left;
            width: 80px;
        }
        .quantity__incartButton{
            float:right;
            .button();

        }
    }
    .descriptionBlock__icons{}
    .icons{

        .icons__IconBlock{
            display: flex;
            width: 100%;
        }
        .icons__listIcon{
            display: flex;
            padding: 0;
            margin: 0;

        }
        .icons__iconItem{
            list-style-type: none;
        }
        .icons__image{
            margin-right: 5px;
            width: 30px;
            height: 30px;
        }
    }
}

@media (min-width: 768px) {
    .productDescription{
        flex: 0 0 55%;
        }
    }
@media (min-width: 992px) {
    .productDescription{
        flex: 0 0 50%;
        padding: 10px;
    }
}