// main: ../style.less
@import "../_mixins.less";
.productImages{
    flex: 0 0 100%;
    padding: 10px;
    background-color: #f5f5f5;
    margin-left: auto;

    .productImages__bigImage{
        width: 350px;
        height: auto;
        text-align: center;
        background-color: white;
        .block();
    }

    .productImages__bigImg{
        position: relative;
        transition: transform 1s;
        //.block();
    }
    .productImages__bigImg:hover{
        transform:scale(1.2);
    }

    .productImages__smallImage{
        display: none;
    }
}

@media (min-width: 768px) {
    .productImages{
        flex: 0 0 40%;
        .productImages__smallImage{
            display: none;}
    }
}

@media (min-width: 992px) {
    .productImages{
            flex: 0 0 45%;
        .productImages__smallImage{
            display: flex;
            width: 100%;
            text-align: center;
        }
        .productImages__imageList{
            padding: 0;
            width: 100%;
        }
        .productImages__imageItem{
            display: inline;
            margin-right: 10px;
            border-right: 1px solid #e3e3e3;
            list-style-type: none;
        }
        .productImages__image{
            max-height: 150px;
            list-style-type: none;
        }
    }
}